.modal {
    background-color: rgba(0, 0, 0, 0,4);
    display: flex;
    margin-bottom: 20px;
    position: absolute;
    top: 2px;
}

.modal__content{
    padding: 20px;
    border-radius: 22px;
    background-color: wheat;
}