
.todo__navigator__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todo__navigator__items button {
    margin-bottom: 40px;
    background: none;
    font-size: 18px;
}

.todo__navigator__sort {
    background: none;
    font-size: 18px;
}

.active {
    color: red;
}

@media screen and (min-width: 0px) and (max-width:999px) { 
    .todo__navigator__items {
        display: inline-block;
    } 
}

@media screen and (min-width: 0px) and (max-width:999px) { 
    .todo__navigator__items button {
        display: flex;
        display: inline-block;
        margin-left: 35px;
    } 
}


    