.todo__navigator {
    display: flex;
    justify-content: center;
    border-right: 2px solid #EA5959;
    width: 200px;
}


@media screen and (min-width: 0px) and (max-width:999px) { 
    .todo__navigator {
        display: inline-block;
        width: auto;
        border: none;
    } 
}