.todo__content {
    margin: 20px;
    flex-grow: 1;
}

.todo__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.todo__list {
    display: flex;
    font-size: 30px;
    align-items: center;
    flex-grow: 1;
}

.todo__list div {
    margin-bottom: 10px;
}


.todo__task__checkbox {
    height: 20px;
    width: 20px;
}

.todo__task__text {
    padding-left: 8px;

}

.todo__list:hover .todo__task__del {
    opacity: 1;

}

.todo__task__del {
    /* background: url('../img/trash.png') left no-repeat; */
    transition: all 0.3s;
    opacity: 0;
    font-size: 38px;
    text-align: center;
    border-radius: 50px;
    color: #EA5959;
    cursor: pointer;
    margin-left: auto;
    margin-right: 16px;
    height: 50px;
    width: 50px;
}

.todo__navigator__items button {
    margin-bottom: 40px;
    background: none;
    font-size: 22px;
}

.todo__pagination {
    display: flex;
    justify-content: center;

}

.todo__pagination button{
    color: #EA5959;
    font-size: 20px;
    border: 1px solid #EA5959;
    width: 28px;
    border-radius: 10px;
    margin: 2px;
}

/* @media screen and (min-width: 1000px) and (max-width: 2400px) {
    .todo__navigator__media {
        display: none;
    } 
} */

/* @media screen and (min-width: 0px) and (max-width: 999px) {
        
    .todo__navigator__media {
        display: block;
    }
    
    .todo__navigator__media button {
        font-size: 20px;
        margin-left: 50px;
        margin-bottom: 10px;
    }
} */